/* reduce padding for lists */
.x-gridcolumn-title-wrap-el {
  padding: 8px 6px 6px 6px;
}
.x-checkcell-body-el {
  padding: 6px 0;
}
.x-gridcell-body-el, .x-roweditorcell {
  padding: 6px;
}
/* Toolbar height */
.x-toolbar-body-el {
  padding: 1px 2px;
  min-height: 32px;
}
/* */
.x-paneltitle {
  padding: 4px 0;
}
.x-tab.x-has-text .x-inner-el {
  padding: 12px 6px;
}