.viewport > .x-panelheader {
  & > .x-body-el {
    padding-right: 17px;
  }
  .x-paneltitle {
    padding-left: 42px;
    background: 0 0 no-repeat url(logo.svg);
    background-size: 2.1em;
   /* background: 4px center no-repeat url(logo.svg);
    background-size: contain;*/
    .x-text-el {
      font-weight: 600;
      text-transform: uppercase;
      text-shadow: 0.1em 0.1em 0.1em #ccc;
      padding-right: 6px; /* for text-shadow */
   }
 }
 .x-button {
   .x-text-el {
     text-transform: none;
   }
 }
}
.x-viewport-body-el {
  background: none;
}
.x-field.x-required.x-empty .x-label-el {
  /* set red color for labels of empty mandatory fields */
  color: var(--alert-color);
}
.x-mask {
 /* background: none;*/ 
}
.x-mask .x-mask-message {
  color: var(--base-foreground-color);
}
.x-loading-mask {
  z-index: 1000000;
}
.x-loading-spinner {
  height: 1em;
  width: 1em;
  -webkit-transform-origin: 0.5em 0.5em;
  transform-origin: 0.5em 0.5em;
  & > span,  & > span:before, & > span:after {
    width: .1em;
    height: .25em;
    -webkit-transform-origin: 0.05em .5em;
    transform-origin: 0.05em .5em;
  }
}
.x-selected-icon {
  visibility: visible !important;
}
:not(.x-show-selection) > .x-boundlistitem .x-selected-icon,
:not(.x-multi-select) > .x-boundlistitem .x-selected-icon {
    display: block;
}
$tool-cubes-icon: dynamic($fa-var-cubes 'Font Awesome 5 Free');
.x-tool-type-cubes {
  @include icon($tool-cubes-icon);
}

$content-padding: dynamic(10px);
$panel-header-icon-font-size: 18px;

$base-color: #0A5E71;
$base-dark-color: darken($base-color, 10%);
$button-background-color: #0A5E71;
$chip-selected-background-color: #0A5E71;
$button-color: #FFFFFF;
$button-focused-background-color: #39ACC6;
$button-hovered-background-color: #2A94AB;
$button-padding: 8px 8px 8px 8px;
$button-pressed-background-color: #39ACC6;
$datepanel-special-cell-color: #148199;
$dialog-header-background-color: #148199;
$dialog-header-color: #FFFFFF;
$dialog-tool-color: #FFFFFF;
$panel-header-background-color: #0A5E71;
$tab-background-color: #0A5E71;
$tab-focused-background-color: #39ACC6;
$tab-hovered-background-color: #2A94AB;
$tabbar-background-color: #0A5E71;
$toolbar-horizontal-spacing: 6px;
$toolbar-padding: 4px 4px 4px 4px;
$gridrow-selected-background-color: #2A94AB;

/* Grid selection */
$gridrow-selected-color: white;
