.groupattributes {
    margin: 10px;
    .x-titlebar-body-el {
        padding: 0 10px;
        min-height: 32px;
    }
    .x-button.x-has-text .x-inner-el {
        padding: 5px;
    }
    .x-toolbar-body-el {
        padding: 4px 4px 0 4px;
    }
    .label {
        font-weight: bold;
    }
    .type {
    }
    .value {
    }
}