
$content-padding: dynamic(10px);
$panel-header-icon-font-size: 18px;

$base-color: #0A5E71;
$base-dark-color: darken($base-color, 10%);
$button-background-color: #0A5E71;
$chip-selected-background-color: #0A5E71;
$button-color: #FFFFFF;
$button-focused-background-color: #39ACC6;
$button-hovered-background-color: #2A94AB;
$button-padding: 8px 8px 8px 8px;
$button-pressed-background-color: #39ACC6;
$datepanel-special-cell-color: #148199;
$dialog-header-background-color: #148199;
$dialog-header-color: #FFFFFF;
$dialog-tool-color: #FFFFFF;
$panel-header-background-color: #0A5E71;
$tab-background-color: #0A5E71;
$tab-focused-background-color: #39ACC6;
$tab-hovered-background-color: #2A94AB;
$tabbar-background-color: #0A5E71;
$toolbar-horizontal-spacing: 6px;
$toolbar-padding: 4px 4px 4px 4px;
$gridrow-selected-background-color: #2A94AB;


/* Grid selection */
$gridrow-selected-color: white;

$red-color: #c62828;
$light-red-color: #de5c5c;
$green-color: #7cb342;
$light-green-color: #a2cc75;